extends layout 
 
block content 
  h1= title 
 
  form(id='ballForm', action="/resource/ball", method="POST") 
    div.form-group 
        label.ballAttr(for='ball_colour') Ball colour 
        input#ball_colour(type='text', name='ball_colour') 
    div.form-group 
        label.ballAttr(for='ball_size') Ball size 
        input#ball_size(type='number', name='ball_size') 
    div.form-group 
        label.ballAttr(for='ball_cost') Ball cost 
        input#ball_cost(type='number', name='ball_cost') 
    input(type="submit") 
 
  script. 
    document.forms['ballForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 