body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.ballAttr { 
  background-color: aquamarine; 
  width: 120px; 
} 
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  
}

.a {
  text-align: center;
  padding: 10px;
  background-color: brown;
  border-radius: 50%;

}

b{
    padding-left: 500px;
}
.c{
  padding-left: 500px;
}
.ballAttr { 
  background-color:greenyellow;
  width: 120px; 
} 

.e {
background-color: rgba(32, 237, 80, 0.863);
}